.text_features {
    color: #66e313;
    font-family: "Courier New", Courier, "Lucida Console", "DejaVu Sans Mono", monospace;
}

.title {
    font-size: 3em;
    padding-bottom: 1%;
}

.subtitle {
    font-size: 2em;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
}
.experiences_subtitle {
    font-size: 2em;
    padding-top: 0.5%;
}

.third_subtitle {
    font-size: 1.5em;
    padding-bottom: 0.25%;
    padding-top: 0.25%;
    padding-left: 0.5rem;
}

.even_box {
    background-color: #000000;
    width: 80%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 40%;
}

.odd_box {
    text-align: right;
    background-color: #000000;
    width: 50%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    margin-top: 5%;
    margin-left: 40%;
}

.text_in_box_even {
    margin-right: 40%;
}

.text_in_box_odd {
    text-align: left;
}

ul {
    margin-top: 0rem;
}

.typed::after{
    content: "i";
    display: inline-block;
    width: 0.5rem;
    background-color: #66e313;
    animation: blink 0.75s step-end infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.hidden_section {
    display: none;
    overflow: hidden;
    height: 0;
    transition: height 0.4s ease;
}

.dropdown-open {
    display: block; /* Visualizza l'elemento */
    height: auto;   /* Altezza dinamica per adattarsi al contenuto */
    overflow: hidden;
}

